/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 input[type=checkbox] {
   transform: scale(1.5);
 }
 
 input[type=checkbox] {
   width: 30px;
   height: 25px;
   margin-right: 8px;
   cursor: pointer;
   font-size: 17px;
   visibility: hidden;
 }
 
 input[type=checkbox]:after {
   content: " ";
   background-color: #fff;
   display: inline-block;
   margin-left: 10px;
   padding-bottom: 5px;
   color: #00BFF0;
   width: 22px;
   height: 25px;
   visibility: visible;
   border: 1px solid #00BFF0;
   padding-left: 3px;
   border-radius: 5px;
 }
 
 input[type=checkbox]:checked:after {
   content: "\2714";
   padding: -5px;
   font-weight: bold;
 }
 a {
    background-color: transparent;
 }

a:hover {
    text-decoration: none;
 }